<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero-Laboral</title>
    <link rel="stylesheet" th:href="@{/css/1.css}" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Vivero-Laboral</h1>
        </header>
        <main>
            <section class="options-section">
                <a th:href="@{/html/iniciarSesion.html}" class="btn">Iniciar Sesión</a>
                <a th:href="@{/html/plantas.html}" class="btn">Ver Todas las Plantas</a>
            </section>
        </main>
    </div>
</body>
</html>
